# ----------------------------------------------------------------
# General build, OS, and tool cruft to ignore
# ----------------------------------------------------------------
# Node.js
**/node_modules/

# LaTeX auxiliary files
*.aux
*.log
*.toc
*.lof
*.lot
*.bbl
*.blg
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# Quarto specific
_quarto/
_freeze/
*_files/

# Python specific
__pycache__/
*.pyc
.venv/
.env

# R specific
.Rproj.user/
.Rhistory
.RData

# OS specific
.DS_Store
Thumbs.db

# ----------------------------------------------------------------
# Project-specific output files to ignore
# ----------------------------------------------------------------
# This ignores these file types everywhere...
*.pptx
*.docx
*.pdf
*.html
*.wav
*.mp3
*.mp4
*.zip
*.png
*.jpg
*.webm
*.m4a


# ...with the following exceptions:
!resources/
!other-rersources/
!**/self-assessment/*.html
